.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}


button {
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}  

button:hover, button:active { 
  background-color: rgb(71 147 251);
}  

.container {
  display: flex;
  align-items: center;  
}

.container button { 
  margin: 0.5rem;   
}


